header.header
    .l-default 
        .header__wrapper
            .header__logo 
                img.lazy(data-src="img/svg/logo.svg", alt="")
            span x
            .header__logo
                img.lazy(data-src="img/svg/logo-ari.svg", alt="")
            