section.bottom  
    .l-default
        form.bottom__form.form  
            h2.bottom__title.title.title--h2 Заявка
            .form__inputs
                .form__input
                    input(type="text" placeholder="Имя" name="name")
                .form__input
                    input(type="email" placeholder="E-mail" name="email")
                .form__input
                    input(type="tel" placeholder="Телефон" name="phone")
                .form__input
                    input(type="text" placeholder="Сумма, на которую планируете купить Пай" name="sum")
            .form__submit 
                button.btn.btn--orange(type="submit") Оставить заявку
            .form__checkbox
                .form__checkbox-container
                    input.form__checkbox-input(type="checkbox" checked)
                    span.form__checkbox-btn
                    .form__checkbox-text Отправляя заявку, вы принимаете условия <a href="">договора оферты</a> и даете согласие на обработку своих персональных данных в соответствии с <a href="">политикой конфиндециальности</a>
