extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Invest Heroes"

block content
  include ../blocks/modules/loader/loader.pug
  include ../blocks/modules/header/header.pug
  main.main 
    include ../blocks/modules/main-top/main-top.pug
    include ../blocks/modules/bottom/bottom.pug

block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")