section.main-top
    .l-default 
        .main-top__wrapper
            .main-top__info 
                h1.main-top__title.title.title--h1 Прием заявок в ПИФ
                ul.main-top__list
                    .main-top__list-title Условия
                    li.main-top__list-item Заполнить заявку и с вами свяжется менеджер Invest Heroes
                    li.main-top__list-item Менеджер объяснит и поможет разобраться, как открыть счёт в АриКапитал и ответит на все вопросы по стратегии
                    li.main-top__list-item Вход от 100 т.р.
                    li.main-top__list-item Комиссия 3% годовая комиссия
            .main-top__img  
                +webp(['main-top/1'], 'png', 'lazy')